[Variables]

# dummy observable
x       = [0,1];

# lumi, cross section, efficiency
lumi    = [40.0]; fix;
xsec   = [0, 10]; float;
efficiency = [0.05]; fix;

# background yield
b       = [1,0,2]; float;

# background yield relative uncertainty + 1.0
#  - this is the recommended way to handle uncertainty
#    using Lognormal shape.
#    Here 1.2 means 20% uncertainty.
b_kappa = [1.2]; fix;

# sets of observable, parameter of interest, nuisance parameters
observables = set(x);
poi = set(xsec);
nuisance_parameters = set(b);


[Data]
# The actual observable in this data file is the number of nonempty lines.
# The number in each line does not matter because we specify Uniform
# PDFs to describe both signal and background distributions.
data = ascii(dummy, "Bayesian example data", ../data/examples/counting_data_3.ascii, observables)


[Model]

# signal yield
s                = prod(lumi, xsec, efficiency);

# model PDF
model_pdf        = SUM(s*Uniform(x),b*Uniform(x));

# likelihood factor to introduce uncertainty on b
likelihood_b     = Lognormal(b,1,b_kappa);

# full likelihood
model_likelihood = PROD(model_pdf, likelihood_b);

# prior for the parameter of interest
prior_pdf        = Uniform(xsec);


[Model Config]
name                = counting_model_config
model               = model_likelihood
poi                 = poi
nuisance_parameters = nuisance_parameters
prior               = prior_pdf


[Bayesian Calculator]
model_config     = counting_model_config
data             = data
confidence_level = 0.90
posterior_plot   = True
plot_format      = png


[Profile Likelihood Calculator]
action_name      = plc
model_config     = counting_model_config
data             = data
confidence_level = 0.95
make_scan_plot   = True
plot_format      = png


[MCMC Calculator]
action_name             = mcmc
model_config            = counting_model_config
data                    = data
ph_cache_size           = 100
confidence_level        = 0.95
left_side_tail_fraction = 0.0
burn_in_steps           = 100
n_bins                  = 100
number_of_iterations    = 10000
make_posterior_plot     = True
plot_format             = pdf


[Feldman-Cousins Calculator]
action_name       = fc
model_config      = counting_model_config
data              = data
confidence_level  = 0.95
fluctuate_entries = True
adaptive_sampling = True
n_bins            = 10


